<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="매장용"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".초기화면">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name = ".회원가입"/>
        <activity android:name = ".메인화면"/>
        <activity android:name = ".회원가입2"/>
        <activity android:name =".예약관리"/>
        <activity android:name =".매장관리"/>
        <activity android:name =".메뉴판관리"/>
        <activity android:name=".손님부르기"/>
        <activity android:name="공지사항"/>
        <activity android:name="메뉴수정및등록"/>
        <activity android:name=".메뉴추가_회원가입"/>
    </application>



</manifest>